// SPDX-License-Identifier: MPL-2.0
// The public core build resolves libXray against the locked, locally patched
// Xray module. No floating network module is accepted for release builds.
go 1.26.4

use (
	./apple-wrapper
	./upstream/xray-core
	./upstream/libXray
)
